{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}{{produit.libelleCourt}}
{% endblock %}

{% block page_specific_stylesheets %}
	{{ encore_entry_link_tags('style-produit') }}
{% endblock %}

{% block body %}
	<div class="fil-ariane">
		<a href="{{ path('app_accueil') }}"><img src="/image/logo/interface/home.svg" alt="Logo Accueil"></a>
		<ul>
			<li>
				<a class="color-secondLien" href="{{ path('app_accueil') }}">Accueil</a>
			</li>
			<li>
				<span>></span>
			</li>
			<li>
				<a class="color-secondLien" href="{{ path('app_categorie') }}">Catégorie</a>
			</li>
			<li>
				<span>></span>
			</li>
			<li>
				<a class="color-secondLien" href="{{ path('app_sous-categorie', {'id': produit.sousCategorie.categorie.id}) }}">{{ produit.sousCategorie.categorie.nom }}

				</a>
			</li>
			<li>
				<span>></span>

			</li>
			<li>
				<a class="color-secondLien" href="{{ path('app_sous_categorie', {'id': produit.sousCategorie.id}) }}">{{ produit.sousCategorie.nom }}</a>
			</li>
			<li>
				<span>> &nbsp;</span>
			</li>
			<li>
				<p>{{ produit.libelleCourt}}</p>
			</li>
		</ul>
	</div>

	<div class="header-title color-fond2 font-title">
		<h1>
			{{produit.libelleCourt}}
		</h1>
	</div>

	<section class="section-produit color-fond2">
		<div class="section-produit-fiche">
			<div class="section-produit-image">
				<img src="/{{produit.image}}" alt="{{produit.libelleCourt}}">
			</div>
			<div class="section-produit-info">
				<h1 class="font-title">{{produit.libelleCourt}}</h1>
				<p>{{produit.libelleLong}}</p>
				<div style="display: flex; flex-direction: column">
					<p class="font-title" style="font-size: 14pt; margin: 0 auto;">
						Prix TTC :

						{% if app.user %}
							{{produit.prixHt * app.user.coefficient}}
						{% else %}
							{{produit.prixHt * 1.2}}
						{% endif %}€</p>
					<form method="POST" action="{{ path('app_produit', { id: produit.id }) }}">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<input type="number" name="quantite" id="produit-number" value="1" min="1" max="10">
						<button type="submit" class="card-produit-btn" style="font-size: 14pt;">Ajouter au panier</button>
					</form>
				</p>
			</div>

		</div>
	</section>

	<div class="header-title color-fond2 font-title">
		<h1>
			Produits Similaires
		</h1>
	</div>

	<section class="section-produit-similaire">

		{% for produit in produitSimilaire|slice(0, 4) %}

			<div class="card-produit color-fond2">

				<div class="card-produit-img">
					<img src="/{{ produit.image|e('html_attr') }}" alt="{{ produit.libellecourt|e('html_attr') }}">
				</div>
				<h2 class="font-title">{{produit.libellecourt|e('html_attr')}}</h2>
				<a class="color-secondLien" href="{{ path('app_sous_categorie', {'id': produit.sousCategorie.id}) }}">{{produit.souscategorie.nom|e('html_attr')}}</a>
				<p>
					{% if app.user %}
						{{produit.prixHt * app.user.coefficient}}
					{% else %}
						{{produit.prixHt * 1.2}}
					{% endif %}€</p>
				<a class="card-produit-btn" href="{{ path('app_produit', {'id': produit.id}) }}">Voir le produit</a>

			</div>
		{% endfor %}

	</section>

{% endblock %}
