{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Historique des commandes
{% endblock %}


{% block body %}

	<div class="header-title color-fond2 font-title">
		<h1>Historique des commandes</h1>
	</div>

	<section class="flex flex-col items-center overflow-hidden">
		{% for commande in commande %}
			<div class="my-[20px] p-[10px] max-w-[1200px] w-full profil-card-commande">
				<h1 class="text-center mb-[10px]">Commande numéro :
					{{ commande.id }}</h1>

				<div class="flex justify-center flex-wrap">
					{% for detail in commande.detailCommandes %}
						<div class="profil-card-commande-img w-full max-w-[80px] h-[80px] mx-[10px] transition-all duration-200 rounded-[10px] border border-transparent">
							<a href="{{ path('app_produit', {'id': detail.produit.id}) }}">
								<img src="/{{ detail.produit.image }}" alt="{{ detail.produit.libelleCourt }}" class="w-full h-full object-cover rounded-[10px] shadow-md"/>
							</a>
						</div>

					{% endfor %}
				</div>
				<div class="flex flex-wrap justify-evenly mt-[20px]">
					<p>Date :
						{{ commande.dateCommande|date('d/m/Y H:i') }}</p>
					<p>Statut :
						{{ commande.statu|replace({'_': ' '}) }}</p>

					<p>Prix total HT :
						{{ commande.totalHt }}</p>

					<p>Prix total TTC :
						{{ commande.total }}</p>
				</div>

				<div class="flex justify-center">
					<a class="app-button color-btnCom" href="{{ path('app_detail_commande', {'id': commande.id}) }}">Détail de la commande</a>
				</div>

			</div>

			<hr class="block w-3/5 h-[0.7px] my-[10px] mx-auto border-0 bg-[rgba(46,46,46,0.7)]"/>


		{% else %}

			<h1 class="color-erreur-text">Erreur dans le chargement des commandes</h1>
		{% endfor %}
		<div class="flex flex-wrap justify-evenly mt-[20px]">

			<a class="app-button color-btnCta" href="{{path('app_profil')}}">Revenir a votre profil</a>

		</div>
	</section>

{% endblock %}
