{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Administration
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin-style') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin-js') }}
{% endblock %}


{% block body %}
	<div class="header-title color-fond2 font-title">
		<h1>Administration</h1>
	</div>

	<div class="header-title color-fond2 font-title">
		<h1>Gestion des commandes</h1>
	</div>

	<div class="header-title color-fond2 font-title">
		<h1>Gestion des fournisseurs</h1>
	</div>

	<div class="admin-form">
		<select class="admin-select font-title" name="" id="">
			<option value="" selected>Ajouter un fournisseur</option>
			{% for fournisseur in fournisseur %}
				<option value="{{fournisseur.id}}" data-user-id="{{fournisseur.id}}" data-user-commercial="{{ fournisseur.Commercial.id }}" data-user-nom="{{fournisseur.nom}}" data-user-email="{{fournisseur.email}}" data-user-telephone="{{fournisseur.telephone}}" data-user-adresse="{{fournisseur.adresse}}">{{fournisseur.nom}}</option>
			{% endfor %}

		</select>
	</div>
	<form id="fournisseur-form" class="admin-form" action="{{path("app_admin_update_fournisseur")}}" method="post">

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<input type="hidden" name="fourni-id" id="fourni-id">
		<label for="nom">Nom du fournisseur</label>
		<input class="app-input" type="text" name="fourni-nom" id="fourni-nom">
		<label for="email">E-mail du fournisseur</label>
		<input class="app-input" type="email" name="fourni-email" id="fourni-email">
		<label for="telephone">Téléphone du fournisseur</label>
		<input class="app-input" type="text" name="fourni-telephone" id="fourni-telephone">
		<label for="adresse">Adresse du fournisseur</label>
		<input class="app-input" type="text" name="fourni-adresse" id="fourni-adresse">
		<label for="commercial">Commercial en charge</label>
		<select class="admin-select" name="commercial-id" id="select-commercial">
			{% for commercial in commercial %}
				<option value="{{commercial.id}}">{{commercial.email}}</option>
			{% endfor %}
		</select>

		<button id="submit_btn_fournisseur" class="app-button color-btnCta" type="submit">Modifier ou Ajouter le fournisseur</button>

	</form>

	<div class="header-title color-fond2 font-title">
		<h1>Gestion des produits</h1>
	</div>

	<form id="formProduit" class="admin-form" action="{{path("app_admin_update_produit")}}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<input type="hidden" name="produit-id" id="produit-id">

		<select class="admin-select font-title" name="produit-select" id="produit-select">
			<option value="" selected>Ajouter un produit</option>
			{% for produit in produit %}
				<option value="{{ produit.id }}" data-user-nom="{{ produit.libelleCourt }}" data-user-desc="{{ produit.libelleLong }}" data-user-stock="{{ produit.stock }}" data-user-prixht="{{ produit.prixHt }}" data-user-prixfourni="{{ produit.prixFournisseur }}" data-user-promo="{{ (produit.promotion ?? 0) * 100 }}" data-user-fourni="{{ produit.fournisseur.id }}" data-user-cat="{{ produit.sousCategorie.id }}" data-user-active="{{ produit.active ? '1' : '0' }}" data-user-image="{{ produit.image ?? '' }}">
					{{ produit.libelleCourt }}
				</option>
			{% endfor %}
		</select>

		<input type="hidden" name="produit-id" value="" id="produit-id">

		<label for="produit-libelle_court">Nom du produit</label>
		<input class="app-input" type="text" name="produit-libelle_court" id="produit-libelle_court">

		<label for="produit_libelle_long">Description du produit</label>
		<textarea name="produit_libelle_long" id="produit_libelle_long" col="10" row="10"></textarea>

		<label for="produit-stock">Stock</label>
		<input class="app-input-number" type="number" min="0" name="produit-stock" id="produit-stock">

		<label for="produit-prixht">Prix Hors taxe</label>
		<input class="app-input-number" type="number" min="0" step="0.01" name="produit-prixht" id="produit-prixht">

		<label for="produit-prixFournisseur">Prix fournisseur</label>
		<input class="app-input-number" type="number" min="0" step="0.01" name="produit-prixFournisseur" id="produit-prixFournisseur">

		<label for="produit-promotion">Promotion
			<span class="app-tooltip">
				?
				<span class="app-tooltip-text">Promotion calculer en % (optionnel)</span>
			</span>
		</label>
		<input class="app-input-number" type="number" min="0" name="produit-promotion" id="produit-promotion">

		<label for="produit-fournisseur">Nom du fournisseur</label>
		<select class="admin-select" name="produit-fourni" id="produit-select-fournisseur">
			{% for fournisseur in fournisseur %}
				<option value="{{fournisseur.id}}">{{fournisseur.nom}}</option>
			{% endfor %}
		</select>

		<label for="produit-categorie">Catégorie du produit</label>
		<select class="admin-select" name="produit-categorie" id="produit-categorie">
			<option value="">Choisir une catégorie</option>
			{% for categorie in categorie %}
				{% set sousCategories = [] %}
				{% for sousCategorie in categorie.sousCategories %}
					{% if sousCategorie.active %}
						{% set sousCategories = sousCategories|merge([{
                'id': sousCategorie.id,
                'nom': sousCategorie.nom
            }]) %}
					{% endif %}
				{% endfor %}
				<option value="{{ categorie.id }}" data-sous-categories='{{ sousCategories|json_encode|e('html_attr') }}'>
					{{ categorie.nom }}
				</option>
			{% endfor %}
		</select>

		<label for="produit-sous-categorie">Sous-catégorie du produit</label>
		<select class="admin-select" name="produit-sous_categorie" id="produit-sous-categorie" disabled>
			<option value="">Choisir d'abord une catégorie</option>
		</select>

		<label for="produit-image">Image du produit</label>
		<input class="" type="file" id="produit-image" name="produit-image" accept="image/*">

		<label for="preview-image">Prévisualisation de l'image</label>
		<div id="div-produit-image-preview">
			<img id="produit-image-preview" src="./image/logo/interface/placeholder.svg" alt="Prévisualisation de l'image">
		</div>

		<label for="produit-active">Rendre visible le produit dans le catalogue</label>
		<input type="hidden" name="produit-active" value="0">
		<input type="checkbox" name="produit-active" id="produit-active" value="1">

		<button id="submitProduit" action="update" class="app-button color-btnCta" type="submit">Modifier ou Ajouter le produit</button>

		<button id="submitDeleteProduit" action="delete" class="app-button color-erreur" type="submit" name="action" value="delete">
			Supprimer le produit sélectionné</button>
		<br>
		<p class="color-secondLien">Le produit ne sera pas supprimé si utilisé dans une commande</p>
	</form>


{% endblock %}
