{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Catégorie
{% endblock %}

{% block body %}


	<div class="fil-ariane">
		<a href="{{ path('app_accueil') }}"><img src="/image/logo/interface/home.svg" alt="Logo Accueil"></a>
		<ul>
			<li>
				<a class="color-secondLien" href="{{ path('app_accueil') }}">Accueil</a>
			</li>
			<li>
				<span>>&nbsp;&nbsp;</span>
			</li>
			<li>
				<p>Catégorie</p>
			</li>
		</ul>
	</div>

	<div class="header-title color-fond2 font-title">
		<h1>Toutes nos Catégories</h1>
	</div>

	<section class="flex flex-wrap items-center justify-center gap-5 max-w-[1400px] mx-auto">

		{% for categorie in categorie %}
			<a href="{{ path('app_sous-categorie', {'id': categorie.id}) }}" class="card-categorie-link">
				<div class="card-categorie color-fond2">
					<div class="card-categorie-img">
						<img src="{{ categorie.image|e('html_attr') }}" alt="{{ categorie.nom|e('html_attr') }}">
					</div>
					<h2 class="font-title">{{ categorie.nom|e('html_attr') }}</h2>
				</div>
			</a>

		{% else %}

			<h1 class="color-erreur-text">Erreur dans le chargement des catégories</h1>

		{% endfor %}
	</section>

{% endblock %}
