{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Profil

{% endblock %}

{% block page_specific_stylesheets %}
	{{ encore_entry_link_tags('profil-style') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('form-adresse-react') }}
{% endblock %}

{% block body %}
	<div class="header-title color-fond2 font-title">
		<h1>
			Profil
		</h1>
	</div>

	<div class="header-title color-fond2 font-title">
		<h1>
			Modifier ses informations
		</h1>
	</div>

	<section class="profil-form-cards">
		<div id="form-adresse-livraison" data-adresselivraison="{{ app.user.adresseLivraison|e('html_attr') }}" data-titre="Adresse de livraison"></div>
		<div id="form-adresse-facturation" data-adresselivraison="	{% if app.user.adressefacturation is empty %}
											{% if app.user.adresselivraison is empty %}
			
											{% else %}
												{{app.user.adresselivraison|e('html_attr')}}</p>
										{% endif %}
									{% else %}
										{{ app.user.adressefacturation|e('html_attr') }}
									{% endif %}" data-titre="Adresse de facturation"></div>
	</section>
{% endblock %}
