{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Profil

{% endblock %}

{% block page_specific_stylesheets %}
	{{ encore_entry_link_tags('profil-style') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('form-adresse-react') }}
{% endblock %}

{% block body %}
	<div class="header-title color-fond2 font-title">
		<h1>
			Profil
		</h1>
	</div>

	<div class="header-title color-fond2 font-title">
		<h1>
			Modifier ses informations
		</h1>
	</div>

	<div id="form-adresse-react" data-adresselivraison="{{ app.user.adresseLivraison|e('html_attr') }}"></div>


{% endblock %}
