{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Validation de la commande
{% endblock %}

{% block page_specific_stylesheets %}
	{{ encore_entry_link_tags('paiement-style') }}
{% endblock %}

{% block body %}

	<div class="header-title color-fond2 font-title">

		<h1>
			Validation de la commande
		</h1>
	</div>


	{% if app.user %}

		<section class="section-paiement-info">


			<div id="form-adresse-livraison" data-adresselivraison="{{ app.user.adresseLivraison|e('html_attr') }}" data-titre="Adresse de livraison"></div>
			<div id="form-adresse-facturation" data-adresselivraison="{% if app.user.adressefacturation is empty %}{% if app.user.adresselivraison is not empty %}{{ app.user.adresselivraison|e('html_attr') }}{% endif %}{% else %}{{ app.user.adressefacturation|e('html_attr') }}{% endif %}" data-titre="Adresse de facturation"></div>
		</section>

		<section class="section-paiement-recap-com">

			<h1>Récupitulatif de la commande</h1>

			{% for detail in detailsPanier %}

				<div class="paiement-card-produit">

					<div class="paiement-card-produit-img">
						<img src="/{{ detail.produit.image|e('html_attr')}}" alt=""/>
					</div>
					<div class="paiement-card-right">
						<div class="paiement-card-produit-info">
							<a href="/produit/{{detail.produit.id|e('html_attr')}}">
								<h1 class="font-title">{{ detail.produit.libelleCourt|e('html_attr') }}</h1>
							</a>
						</div>

						<div class="paiement-card-produit-div-del-quant">

							<div class="paiement-card-produit-quantite">
								<div class="paiement-update">
									<span>Quantité :
										{{ detail.quantite|e('html_attr') }}</span>
								</div>
								<p>Prix TTC Unitaire :
									{{ detail.prixTTC|number_format(2, ',', ' ') }}€</p>
								<p>Prix Total TTC :
									{{ detail.sousTotal|number_format(2, ',', ' ') }}€</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

			<div class="paiement-total">
				<p class="font-title">
					<strong class="font-title">Nombre d'articles :</strong>
					{{ nombreArticles ?? 0 }}</p>
				<p>
					<strong class="font-title">Total du panier TTC:</strong>
					{{ totalPanier ?? 0 }}€</p>
			</div>

		</section>

		<section class="section-paiement-btn-annulation">
			<a class="profil-link color-erreur" href="/panier">Annuler le paiement et revenir au panier</a>
		</section>

	{% else %}

		<div class="header-paiement color-fond2">

			<h1 class="font-title">Vous devez être connecté pour valider votre commande</h1>

			<div class="header-paiement-btn">
				<a href="/connexion">Connectez-vous !</a>
				<a href="/inscription">Inscrivez-vous !</a>
			</div>
		</div>

	{% endif %}


{% endblock %}
