{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Sous catégorie
	{{souscat.nom}}
{% endblock %}


{% block body %}
	<div class="fil-ariane">
		<a href="/"><img src="/image/logo/interface/home.svg" alt="Logo Accueil"></a>
		<ul>
			<li>
				<a class="color-secondLien" href="/">Accueil</a>
			</li>
			<li>
				<span>></span>
			</li>
			<li>
				<a class="color-secondLien" href="/categorie">Catégorie</a>
			</li>
			<li>
				<span>></span>
			</li>
			<li>
				<a class="color-secondLien" href="/categorie/{{souscat.categorie.id}}">{{souscat.categorie.nom}}</a>
			</li>

			<span>> &nbsp;</span>
		</li>
		<li>
			<p>{{souscat.nom}}</p>
		</li>
	</ul>
</div>

<div class="header-title color-fond2 font-title">
	<h1>
		Sous-catégorie :
		{{souscat.nom|e('html_attr')}}
	</h1>
</div>

<section class="flex flex-wrap items-center justify-center gap-5 max-w-screen-2xl mx-auto">

	{% for produit in produits %}

		<div class="card-produit color-fond2">

			<div class="card-produit-img">
				<img src="/{{ produit.image|e('html_attr') }}" alt="{{ produit.libellecourt|e('html_attr') }}">
			</div>
			<h2 class="font-title">{{produit.libellecourt|e('html_attr')}}</h2>
			<a class="color-secondLien" href="{{ path('app_sous_categorie', {'id': produit.sousCategorie.id}) }}">{{produit.souscategorie.nom|e('html_attr')}}</a>
			<p>
				{% if produit.promotion is not null and produit.promotion > 0 %}
					{% if app.user %}
						<span class="card-produit-promotion color-secondLien">
							{{ produit.prixHt * app.user.coefficient | number_format(2, '.', ' ') }}</span>


						{{ produit.prixHt * app.user.coefficient * (1 - produit.promotion) | number_format(2, '.', ' ') }}
					{% else %}
						<span class="card-produit-promotion color-secondLien">{{ produit.prixHt * 1.2 | number_format(2, '.', ' ') }}</span>
						{{ produit.prixHt * 1.2 * (1 - produit.promotion) | number_format(2, '.', ' ') }}
					{% endif %}
					€
				{% else %}
					{% if app.user %}
						{{ produit.prixHt * app.user.coefficient | number_format(2, '.', ' ') }}
					{% else %}
						{{ produit.prixHt * 1.2 | number_format(2, '.', ' ') }}
					{% endif %}
					€
				{% endif %}

			</p>

			<a class="card-produit-btn" href="{{ path('app_produit', {'id': produit.id}) }} ">Voir le produit</a>

		</div>
	{% else %}

		<h1 class="color-erreur-text">Erreur dans le chargement des produits</h1>
	{% endfor %}


</section>{% endblock %}
