{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Connexion
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="error_section">
				<div class="notification flashe-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			</div>
		{% endif %}

		<div class="header-title color-fond2 font-title">

			<h1>
				Connexion
			</h1>
		</div>

		{% if app.user %}
			<div class="">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}


		<label for="username">Email</label>
		<input type="email" value="{{ last_username }}" name="_username" id="username" class="" autocomplete="email" required autofocus>
		<label for="password">Password</label>
		<input type="password" name="_password" id="password" class="" autocomplete="current-password" required>
		<input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
		<div class="">
			<input type="checkbox" name="_remember_me" id="_remember_me">
			<label for="_remember_me">Remember me</label>
		</div>

		<button class="" type="submit">
			Sign in
		</button>
	</form>
{% endblock %}
