{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Connexion
{% endblock %}

{% block body %}
	<div class="header-title color-fond2 font-title">

		<h1>
			Connexion
		</h1>
	</div>
	<form method="post" class="flex flex-col items-center justify-center">
  {% if error %}
    <div class="error-section">
      <div class="notification flashe-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    </div>
  {% endif %}

  {% if app.user %}
    <div class="">
      You are logged in as {{ app.user.userIdentifier }},
      <a href="{{ path('app_logout') }}">Logout</a>
    </div>
  {% endif %}

  <label for="username" class="w-full max-w-[300px] mb-1">E-mail</label>
  <input 
    type="email" 
    value="{{ last_username }}" 
    name="_username" 
    id="username" 
    class="w-full max-w-[300px] bg-white border border-black rounded-[16px] py-[5px] px-[15px] mb-[15px] text-[12pt] box-border transition duration-200 focus:border-[#4caf50] focus:outline-none" 
    autocomplete="email" 
    required 
    autofocus
  >

  <label for="password" class="w-full max-w-[300px] mb-1">Mot de passe</label>
  <input 
    type="password" 
    name="_password" 
    id="password" 
    class="w-full max-w-[300px] bg-white border border-black rounded-[16px] py-[5px] px-[15px] mb-[15px] text-[12pt] box-border transition duration-200 focus:border-[#4caf50] focus:outline-none" 
    autocomplete="current-password" 
    required
  >

  <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

 <div class="flex items-center justify-center max-w-[300px] w-full mb-4 space-x-2">
  <input type="checkbox" name="_remember_me" id="_remember_me" class="h-4 w-4">
  <label for="_remember_me" class="text-sm">Se souvenir de moi</label>
</div>

  <a 
    id="login-mdp-oublie" 
    href="{{ path('app_forgot_password_request') }}" 
    class="mt-[20px] text-black no-underline transition duration-200 hover:text-[#369354]"
  >
    Vous avez oublié votre mot de passe ?
  </a>

  <button 
    class="login-btn mt-[20px] py-[5px] px-[40px] bg-[#369354] shadow-[0px_4px_4px_rgba(0,0,0,0.25)] rounded-[25px] text-white text-center text-[13pt] no-underline border-none cursor-pointer transition duration-200 hover:shadow-[0px_4px_4px_rgba(0,0,0,0.25),inset_0px_0px_16px_5px_rgba(0,0,0,0.25)]" 
    type="submit"
  >
    Se connecter
  </button>
</form>

<section class="login-ask mt-[50px] flex flex-col items-center justify-center">
  <h1 class="font-title">Pas encore de compte ?</h1>
  
  <a 
    class="login-btn py-[5px] px-[40px] bg-[#369354] shadow-[0px_4px_4px_rgba(0,0,0,0.25)] rounded-[25px] text-white text-center text-[13pt] no-underline border-none cursor-pointer transition duration-200 hover:shadow-[0px_4px_4px_rgba(0,0,0,0.25),inset_0px_0px_16px_5px_rgba(0,0,0,0.25)]" 
    href="{{ path('app_register') }}"
  >
    Inscrivez-vous !
  </a>
</section>
{% endblock %}
