<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Site e-commerce Green Village | Projet Afpa">
		<meta name="author" content="Mickael Marchand">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Green Village :
			{% endblock %}
		</title>
		<link rel="icon" href="/favicon.svg">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			{{ encore_entry_link_tags('nav-react') }}
			{{ encore_entry_link_tags('footer-react') }}
			{% block page_specific_stylesheets %}{% endblock %}
		{% endblock %}


		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('nav-react') }}
			{{ encore_entry_script_tags('footer-react') }}
			{{ encore_entry_script_tags('testsession-react') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<div id="navbar-react"></div>
		<div class="error_section">
			{% for message in app.flashes('success') %}
				<div class="notification flashe-success">
					{{ message|raw }}
				</div>
			{% endfor %}

			{% for message in app.flashes('error') %}
				<div class="notification flashe-error">
					{{ message|raw }}
				</div>
			{% endfor %}

		</div>


		{% block body %}{% endblock %}
		<div id="footer-react" {% if app.user %} data-user-id="{{ app.user.id }}" {% endif %}></div>
		<div id="testsession-react" data-test="test data html" {% if app.user %} data-user-id="{{ app.user.id }}" data-user-email="{{ app.user.email }}" {% endif %}></div>


	</body>
</html>
