{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Panier
{% endblock %}

{% block page_specific_stylesheets %}
	{{ encore_entry_link_tags('panier-style') }}
{% endblock %}

{% block body %}
	<div class="header-title color-fond2 font-title">
		<h1>Panier</h1>
	</div>

	<section class="section-panier-produit">

		{% for detail in detailsPanier %}

			<div class="panier-card-produit">

				<div class="panier-card-produit-img">
					<img src="/{{ detail.produit.image|e('html_attr')}}" alt=""/>
				</div>

				<div class="panier-card-produit-info">
					<a href="/produit/{{detail.produit.id|e('html_attr')}}">
						<h1 class="font-title">{{ detail.produit.libelleCourt|e('html_attr') }}</h1>
					</a>
					<p>
						{{ detail.produit.libelleLong|e('html_attr') }}
					</p>
				</div>


				<div class="panier-card-produit-div-del-quant">
					<div class="panier-card-produit-formdel">
						<form method="POST" action="">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<input type="hidden" name="produit_id" value="{{ detail.produit.id|e('html_attr') }}">
							<input type="hidden" name="action" value="supprimer">
							<button type="submit">
								<p class="font-title">Supprimer le produit</p>
								<img src="/image/logo/interface/delete.svg" alt=""/>
							</button>
						</form>
					</div>
					<div class="panier-card-produit-quantite">
						<div class="panier-update">
							<span>Quantité :</span>
							<form action="" method="post" class="quantite-form">
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								<input type="hidden" name="produit_id" value="{{ detail.produit.id|e('html_attr') }}">
								<input type="hidden" name="action" value="modifier">
								<div class="quantite-controls">
									<input type="number" name="quantite" class="produit-number" value="{{ detail.quantite|e('html_attr') }}" min="1" max="10"/>
									<button type="submit" class="btn-modifier-quantite">
										<img src="/image/logo/interface/check.svg" alt="Modifier" title="Modifier la quantité"/>
									</button>
								</div>
							</form>
						</div>
						<p>Prix TTC Unitaire :
							{{ detail.prixTTC|number_format(2, ',', ' ') }}€</p>
						<p>Prix Total TTC :
							{{ detail.sousTotal|number_format(2, ',', ' ') }}€</p>
					</div>
				</div>
			</div>
		{% endfor %}

		<div class="panier-total">
			<p>
				<strong>Nombre d'articles :</strong>
				{{ nombreArticles ?? 0 }}</p>
			<p>
				<strong>Total du panier TTC:</strong>
				{{ totalPanier ?? 0 }}€</p>

		</div>
		<a class="panier-commande-btn" href="/paiement">Valider la commande</a>
	</section>

{% endblock %}
