{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Catégorie
	{{categorie.nom}}
{% endblock %}


{% block body %}


	<div class="fil-ariane">
		<a href="{{ path('app_accueil') }}"><img src="/image/logo/interface/home.svg" alt="Logo Accueil"></a>
		<ul>
			<li>
				<a class="color-secondLien" href="{{ path('app_accueil') }}">Accueil</a>
			</li>
			<li>
				<span>></span>
			</li>
			<li>
				<a class="color-secondLien" href="{{ path('app_categorie') }}">Catégorie</a>
			</li>
			<li>
				<span>>&nbsp;</span>
			</li>
			<li>
				<p>
					{{categorie.nom|e('html_attr')}}</p>
			</li>
		</ul>
	</div>

	<div class="header-title color-fond2 font-title">
		<h1>Catégorie :
			{{categorie.nom|e('html_attr')}}
		</h1>
	</div>

	<section class="flex flex-wrap items-center justify-center gap-5 max-w-[1400px] mx-auto">

		{% for souscat in souscat %}
			<a href="{{ path('app_sous_categorie', {'id': souscat.id}) }}" class="card-categorie-link">
				<div class="card-categorie color-fond2">
					<div class="card-categorie-img">
						<img src="/{{ souscat.image|e('html_attr') }}" alt="{{ souscat.nom|e('html_attr') }}">
					</div>
					<h2 class="font-title">{{ souscat.nom|e('html_attr') }}</h2>
				</div>
			</a>
		{% else %}

			<h1 class="color-erreur-text">Erreur dans le chargement des catégories</h1>
		{% endfor %}
	</section>


	<div class="header-title color-fond2 font-title">
		<h1>Nos autres catégories</h1>
	</div>

	<section class="flex flex-wrap items-center justify-center gap-5 max-w-[1920px] mx-auto">
		{% for autresCategories in autresCategories %}
			<a href="{{ path('app_sous-categorie', {'id': autresCategories.id}) }}" class="card-autre-categorie-link">
				<div class="card-autre-categorie color-fond2">

					<div class="card-autre-categorie-img">
						<img src="/{{ autresCategories.image|e('html_attr') }}" alt="{{ autresCategories.nom|e('html_attr') }}">
					</div>

					<h2 class="font-title">{{ autresCategories.nom|e('html_attr') }}</h2>

				</div>
			</a>
		{% else %}

			<h1 class="color-erreur-text">Erreur dans le chargement des catégories</h1>
		{% endfor %}
	</section>

{% endblock %}
